/* 
vivaldi://inspect/#apps
vivaldi://settings/appearance
vivaldi://restart
*/

/* CSS vars */
#browser {
  --colorBg: #383c4a !important;
  --colorBgFaded: #383c4a !important;
  --colorAccentBg: #2f343f !important;
  --colorAccentBgFaded: #2f343f !important;
  /* --colorBgLight: #404552 !important; */
}

/* window: no buttons */
.window-buttongroup {
  display: none !important;
}

/* tabs: padding */
#tabs-container {
  padding-right: 3px !important;
}

/* tabs: no stupid favicon changes */
#tabs-container .tab-header .favicon {
  filter: none !important;
}

/* tabs: style */
#tabs-container .tab {
  background: transparent;
  border-radius: 4px 4px 0 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: transparent;
  height: 100%;
}
#tabs-container .tab:hover {
  background: var(--colorBg);
}
#tabs-container .tab.active {
  background-color: var(--colorBg);
  border-color: #666974;
}

/* address bar */
.UrlBar-AddressField {
  border: 0 !important;
  background: #404552 !important;
  padding: 2px !important;
  border-radius: 16px !important;
}

/* toolbar: account button */
.toolbar-mainbar button[name="AccountButton"] img {
  display: none !important;
}
.toolbar-mainbar button[name="AccountButton"]::after {
  content: "⁝";
  font-size: 18px;
}

/* bookmarks: bar */
.bookmark-bar {
  height: auto !important;
  border: 0 !important;
}

/* bookmarks: folder icons */
@import url("common.css");
svg.folder-icon path {
  d: path(
    "M6.16,2.5H1.6A1.12,1.12,0,0,0,.5,3.63v8.75A1.12,1.12,0,0,0,1.6,13.5H14.4a1.12,1.12,0,0,0,1.1-1.12V5.76a1.19,1.19,0,0,0-1.1-1.23H7.76Z"
  ) !important;
}
svg.folder-icon svg path {
  fill: rgb(211, 218, 227) !important;
  fill-opacity: 1 !important;
  stroke: rgb(0, 0, 0) !important;
  stroke-width: 1 !important;
  stroke-opacity: 0 !important;
}
